{% load i18n %}
<input readonly type="text" id="{{ widget.attrs.id }}Alt" {% if widget.value %} value="{{ widget.value|stringformat:'s' }}" {% endif %} >
{% if showTime %}
       <input readonly type="hidden" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s'}}"{% endif %}
            {% for name, value in widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
</p>
{% else %}
    <input readonly type="hidden" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s'|slice:"0:10" }}"{% endif %}
            {% for name, value in widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
{% endif %}
{% get_current_language as LANGUAGE_CODE %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#{{ widget.attrs.id }}Alt").pDatepicker({
            {% if widget.value|length %}
                initialValue: false,
            {% endif %}
            {% if showTime %}
                format: 'YYYY-MM-DD HH:mm:ss',
            {% else %}
                format: 'YYYY-MM-DD ',
            {% endif %}
            {% if LANGUAGE_CODE == 'fa-ir' %}
                calendarType: 'persian',
                calendar: {
                    persian: {
                        locale: 'ir'
                    }
                },
            {% else %}
                calendarType: 'gregorian',
                calendar: {
                    persian: {
                        locale: 'en'
                    }
                },
            {% endif %}
        {% if showTime %}
                timePicker: {
                enabled: true,
            },
        {% endif %}
            onSelect: function (unix) {
                var date = new Date(unix);
                var d = date.toLocaleDateString('en-US').split("/");
                var y = d.splice(-1)[0];
                d.splice(0, 0, y);
                var dat = d.join("-");
                var Time = document.getElementById('{{ widget.attrs.id }}Alt').value.split(" ");
                if(Time.length>1)
                    Time=' '+Time[1];
                else
                    Time='';
                document.getElementById('{{ widget.attrs.id }}').value = dat+Time
            }
        });
    });
</script>
