{% load i18n %}
<input readonly type="text" id="{{ widget.attrs.id }}Alt" {% if widget.value %}
       value="{{ widget.value|stringformat:'s' }}" {% endif %} >
{% if showTime %}
    <input readonly type="hidden" name="{{ widget.name }}"{% if widget.value != None %}
           value="{{ widget.value|stringformat:'s' }}"{% endif %}
            {% include "django/forms/widgets/attrs.html" %}>
    </p>
{% else %}
    <input readonly type="hidden" name="{{ widget.name }}"{% if widget.value != None %}
           value="{{ widget.value|stringformat:'s'|slice:"0:10" }}"{% endif %}
            {% include "django/forms/widgets/attrs.html" %}>
{% endif %}
{% get_current_language as LANGUAGE_CODE %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#{{ widget.attrs.id }}Alt").pDatepicker({
            {% if widget.value == None %}
                initialValue: false,
            {% endif %}
            {% if showTime %}
                format: 'YYYY-MM-DD HH:mm:ss',
                timePicker: {
                    enabled: true,
                },
            {% else %}
                format: 'YYYY-MM-DD',
            {% endif %}
            {% if LANGUAGE_CODE != 'fa-ir' %}
                calendarType: 'gregorian',
                calendar: {
                    persian: {
                        locale: 'en'
                    }
                },

            {% endif %}
            onSelect: function (unix) {
                var date = new Date(unix);
                var d = date.toLocaleDateString('en-US').split("/");
                var y = d.splice(-1)[0];
                d.splice(0, 0, y);
                var dat = d.join("-");
                var Time = document.getElementById('{{ widget.attrs.id }}Alt').value.split(" ");
                if (Time.length > 1)
                    Time = ' ' + Time[1];
                else
                    Time = '';
                document.getElementById('{{ widget.attrs.id }}').value = dat + Time
            }
        });
    });
</script>
